/* 공통부분 */
/* 메인폰트 */
@font-face {
    font-family: 'EBSJSKMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSJSKMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 서브포트 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap{
    width:1400px;
    margin: 0 auto;
    position: relative;
}

* {
    box-sizing: border-box;
}

form {
    user-select: none;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    vertical-align: middle;
}

a {
    text-decoration: none;
    background-color: transparent;
}

img {
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -o-user-drag: none;
    -user-drag: none;
}


.navigate {
    display: flex;
}

.navigate a {
    margin: 20px;
}

/* dropdown */
.common-dropdown {
    position: relative;
    display: inline-block;
    margin: 0 10px ;
}

.dropdown-button {
    background-color: white;
    color: black;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
	border:3px solid #92B4EC;
}

.dropdown-content {
    position: absolute;
    text-align: center;
    background-color: white;
    color:black;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    margin-left: 1px;
    margin-top: 1px;
}

.dropdown-content li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-right: 8px;
}
.dropdown-content li:hover{
    background-color:#92B4EC;
    color:white;
}
.dropdown-content.show {
    max-height: 300px; /* 원하는 높이로 조절하세요 */
    overflow-y: auto;
    width: 100%;
    transition: max-height 0.3s ease-in-out;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 0;
    margin-top: 0;
}
/* 크롬, 사파리, 엣지용 스크롤바 스타일 */
.dropdown-content.show::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 조정 */
}

.dropdown-content.show::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙 색상 */
}

.dropdown-content.show::-webkit-scrollbar-thumb {
    background-color: #92B4EC; /* 스크롤바 손잡이 색상 */
    border-radius: 10px;
    border: 2px solid #f1f1f1; /* 스크롤바 손잡이 경계 */
}



/* notice area 공지페이지 시작 */
#nwrap {
    width: 1000px;
    margin: 0 20px;
    padding: 0;
    position: relative;
}

/* Title */
.notice-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'EBSJSKMedium';
    font-size: 80px;
}

.nlist, .rplist {
    font-family: 'GowunDodum-Regular';
    text-align: center;
}

.pagination {
    max-width: 840px;
}

.nlist.ntable>.ntbody>.row:nth-child(2n+1) {
    background-color: #fff;
}

.nlist.ntable>.ntbody>.row:hover {
    background-color: #fff;
}

.nlist.ntable>.ntbody>.row:last-child {
    border-bottom: 1px solid #ccc;
}

.nlist.ntable>.ntbody>.row>div {
    padding: 5px;
}

/* 리스트 배치 */
.nlist.ntable .row div:nth-child(1) {
    width: 8%;
}

.nlist.ntable .row div:nth-child(2) {
    width: 45%;
}

.nlist.ntable .row div:nth-child(3) {
    width: 15%;
}

.nlist.ntable .row div:nth-child(4) {
    width: 22%;
}

.nlist.ntable .row div:nth-child(5) {
    width: 10%;
}

.no-list div {
    width: 100% !important;
    padding: 10px !important;
    text-align: center;
}
.no-report div, no-post {
    width: 100% !important;
    padding: 10px !important;
}

.cols-1 {
    width: 10%;
}

.cols-2 {
    width: 20%;
}

.cols-3 {
    width: 30%;
}

.cols-4 {
    width: 40%;
}

.cols-5 {
    width: 50%;
}

.cols-6 {
    width: 60%;
}

.cols-7 {
    width: 70%;
}

.cols-8 {
    width: 80%;
}

.cols-9 {
    width: 90%;
}

.cols-10 {
    width: 100%;
}

.tar {
    text-align: right !important;
}

.tac {
    text-align: center !important;
}

.tal {
    text-align: left !important;
}

.w100 {
    width: 100px !important;
}

.w200 {
    width: 200px !important;
}

.w300 {
    width: 300px !important;
}

.w400 {
    width: 400px !important;
}

.w500 {
    width: 500px !important;
}

.w600 {
    width: 600px !important;
}

.w700 {
    width: 700px !important;
}

.w800 {
    width: 800px !important;
}

.w900 {
    width: 900px !important;
}

.w1000 {
    max-width: 1000px !important;
}

.w100p {
    width: 100% !important;
}

.nlist .row{
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.ntable>.row {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.ntable>.row>*:nth-child(n+2) {
    border: none;
}

.ntable>.row:nth-child(n+2)>* {
    border: none;
}

.nbtn_table {
    text-align: right;
    margin: 10px auto;
    position: relative;
    float: right;
    bottom: 50px;
    right: 100px;
    display: none;

}
.nbtn_table.show{
    display: block;
}

/* 로딩 텍스트 애니메이션 */
/* 1. 깜빡이는 애니메이션 */
@keyframes nblink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 각 글자에 애니메이션 적용 */
.loading-text{
    position: fixed;      /* 화면에 고정 */
    top: 0;
    left: 0;
    width: 100%;          /* 전체 화면 크기 */
    height: 100%;
    display: flex;
    justify-content: center;  /* 가로 중앙 정렬 */
    align-items: center;      /* 세로 중앙 정렬 */
    z-index: 9999;
}
.loading-text span {
    display: inline-block;
    /* 안의 글자 나눠주기 */
    animation: nblink 1.5s infinite, ncolorChange 2s infinite alternate, nscaleText 1.5s infinite alternate;
}

/* 색상 변화 애니메이션 */
@keyframes ncolorChange {
    0% {
        color: #FF5733;
    }

    50% {
        color: #33FF57;
    }

    100% {
        color: #3357FF;
    }
}

/* 텍스트 크기 애니메이션 */
@keyframes nscaleText {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

/* 로딩 공통 스타일 */
.loading-text {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    /* 텍스트가 줄 바꿈되지 않도록 */
    font-family: Arial, sans-serif;
}

/* 개별 글자에 대해 애니메이션을 적용 */
.loading-text span:nth-child(1) {
    animation: nblink 1.5s infinite, ncolorChange 2s infinite alternate, nscaleText 1.5s infinite alternate;
}

.loading-text span:nth-child(2) {
    animation: nblink 1.5s infinite, ncolorChange 2s infinite alternate, nscaleText 1.5s infinite alternate;
}

.loading-text span:nth-child(3) {
    animation: nblink 1.5s infinite, ncolorChange 2s infinite alternate, nscaleText 1.5s infinite alternate;
}


/* board 공통 */
.nlist,
.nwrite,
.nget,
.nmodify {
    background-color: #ffffff;
}

#nwrap>div:nth-child(1) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

@keyframes nlistWrap {
    from {}

    to {
        opacity: 0;
    }
}

.nlist .ntable,
.nwrite .ntable,
.nget .ntable,
.nmodify .ntable {
    border: 0px;
    width: 1000px;
}

.nlist a.btn {

    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    height: 40px;
    cursor: pointer;
}
.nsearch_area .common-dropdown{
    position: relative;
    display: inline-block;
    width: 200px;
}
.nsearch_area .dropdown-button{
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 18px;
    font-size: 14px;
}
.nsearch_area .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    margin-left: 1px;
    margin-top: 1px;
}
.nsearch_area .dropdown-content li{
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.nsearch_area .dropdown-content li:hover {
    background-color: rgb(193, 239, 253);
}
.nsearch_area .dropdown-content.show {
    max-height: 500px;
    transition: max-height 0.3s ease-in-out;
}
/* Notice list css */

.notice-cnt {
    padding: 10px;
}

.nthead {
    border: 1px solid #b3b3b3;
}

.nlist.ntable #nreply_cnt {
    font-weight: bold;
    color: red;
}

.nlist.ntable .ntbody .row:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 1px 1px 2px #444;
    transition: transform linear 0.1s;
    cursor: auto;
}

/* HOT , NEW 디자인 */
.ntable.nlist .noticehot,
.ntable.nlist .noticenew {
    margin-right: 5px;
}

.ntable.nlist .noticehot {
    display: inline-block;
    width: fit-content;
    font-weight: bold;
    position: relative;
    animation: nhot 1s infinite alternate;
}

.ntable.nlist .noticenew {
    display: inline-block;
    width: fit-content;
    font-weight: bold;
    position: relative;
    animation: nnew 1s infinite alternate;
}

@keyframes nhot {
    from {
        color: yellow;
        transform: scale(1);
    }

    to {
        color: red;
        transform: scale(1.05);
    }
}

@keyframes nnew {
    from {
        color: yellow;
        transform: scale(1);
    }

    to {
        color: orange;
        transform: scale(1.05);
    }
}

/* Pagination 페이지 버튼 디자인 */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination tr {
    text-align: center;
    vertical-align: middle;
}

.pagination .nowPage {
    margin-right: 5px;
}

.pagination a {
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* .pagination a:hover {
    background-color: #ccc;
    } */

.nowPage {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    /* background-color: #fff; */
    color: black;
    font-weight: bold;
}

/* 글쓰기버튼 */
a.nwrite {
    padding: 5px;
    width: 60px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

/* nwrite, nmodify, nget css */
#noticeForm {
    margin-bottom: 20px;
}

#noticeForm>.ntable>.row {
    height: 40px;
    line-height: 40px;
    background-color: #92B4EC;
}

#noticeForm>.ntable>.row:nth-child(3) {
    height: 300px;
}
#noticeForm>.ntable>.row>div:nth-child(1) {
    text-align: center;
    vertical-align: middle;
    width: 20%;
    
}

#noticeForm>.ntable>.row>div:nth-child(2) {
    vertical-align: middle;
    width: 80%;
}

#noticeForm>.ntable>.row:nth-child(n+4) {
    height: auto;
}

.nwrite input[type="text"],
.nwrite textarea,
.nget input[type="text"],
.nget textarea,
.nmodify input[type="text"],
.nmodify textarea,
.noteget input[type="text"],
.noteget textarea {
    width: 98%;
    border: none;
    padding: 5px;
    outline: none;
}

.nwrite textarea,
.nget textarea,
.nmodify textarea {
    margin-top: 20px;
    resize: none;
    height: 290px !important;
}

.nget textarea {
    height: auto;
}

.nwrite form [class*=cont] .btn,
.nmodify form [class*=cont] .btn {
    width: fit-content;
    height: fit-content;
    margin: 3px 0px;
    width: 100px;
}

.nthumbnail_area {
    text-align: center;
    width: 100%;
    min-height: 10px;
}

/* 게시판 썸네일애니메이션 thumbnail animation*/
img.nthumbnail {
    max-width: 70%;
    transition: all 0.2s linear;
}

img.nthumbnail:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 4px #ccc;
}

.nwrite .nbtn_area,
.nmodify .nbtn_area, .nget .nbtn_area{
    display: flex;
    justify-content: center;
}

#nwrap [class*='cont'] {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    height: fit-content;
}

#nwrap [class*='cont'] div:nth-child(1) {
    padding: 10px;
    height: 100%;
}

#nwap [class*='cont'] div:nth-child(2) {
    height: auto;
    vertical-align: middle;
    justify-content: space-evenly;
}

/* get css */
#nwrap .download {
    display: none;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    padding: 2px 10px;
    box-shadow: 0px 0px 2px #000;
    transition: all ease 0.2s;
    line-height: 1.4;
}

#nwrap .download:hover {
    transform: scale(1.2);
}
.ndownload-btn {
    width: 120px;
    font-size: 12px;
    padding: 10px;
}


.nget .nbtn_area td:nth-child(2) {
    padding: 5px;
    outline: none;
    width: 500px;
}
.nbtn_area input.btn{
    margin: 3px;
    float: right;
    right: 40px;
    position: relative;
    top:10px;
}
input.nrmodify.btn, input.nrfinish.btn.hdd, input.nrremove.btn  {
    width: 80px;
}


/* noticecontents css */
.nget #noticecontents {
    width: 700px;
    height: 290px;
    vertical-align: top;
}

/* 댓글 reply css */
.nreply_line {
    width: 1000px;
    margin-top: 20px;
    border-top: 1px solid grey;
    position: relative;
}

.nreply_line>.nregist {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 90px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 880px;
}

.nreply_line .nreplyForm > div {
    text-align: center;
    vertical-align: middle;
    color: #f77a7a;
    height: 150px;
}
.nreplyForm.row {
    height: 200px;
}

.nreply_line .nreplyForm>div:nth-child(1) {
    width: 20%;
}

.nreply_line .nreplyForm>div:nth-child(2) {
    width: 65%;
}

.nreply_line .nreplyForm>div:nth-child(3) {
    width: 15%;
}

.nreplyForm>div>input[type=text] {
    display: inline-block;
    width: 120px;
    height: 40px;
    /* border: 2px solid #000; */
    border-radius: 5px;
    text-align: center;
}

.nreply_line textarea {
    width: 600px;
    height: 80px !important;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 17px;
    color: #333;
}

.nreplyForm>div>.btn {
    height: fit-content;
    padding: 8px;
}

.nreplyForm>div>.nfinish {
    margin-top: 50px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.nreplies {
    border-top: 1px solid gray;
    padding: 0;
    padding-top: 30px;
    margin-top: 20px;
    display: block;
}

.nreplies li.no-reply {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.nreplies li {
    width: 1000px;
}

.nreplies li div:nth-child(1) {
    width: 75%;
}

.nreplies li div:nth-child(2) {
    width: 10%;
}

.nreplies li div:nth-child(3) {
    width: 15%;
}

.nreplies li div:nth-child(1) [class*='nuserid'] {
    width: 20%;
    display: block;
    text-align: center;
    border-right: 1px solid #ccc;
    padding:0 20px;
}

.nreplies li {
    display: flex; /* Flexbox를 사용하여 자식 요소들을 가로로 배치 */
    justify-content: center; /* 요소들 사이에 균등한 공간 배분 */
    align-items: center; /* 세로 정렬을 중앙으로 맞춤 */
    padding: 10px 0;
}

.nbtn-group {
    display: flex; /* 버튼들을 한 줄로 배치 */
    flex-direction: column;
    gap: 2px; /* 버튼 간의 간격을 조정 */
    align-items: center;
    float: right;
}
.nreplies li div {
    display: flex; /* 내부 요소들을 가로로 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 4px; /* 아이템 간의 간격 */
}
.nreplies li div:nth-child(1) [class*='nreply']{
    padding-left: 10px;
}
.nreplies li div:nth-child(2),
.nreplies li div:nth-child(3) {
    text-align: center;
}

.nreplies li div:nth-child(2) {
    font-size: 14px;
    color: #ccc;
}

.nreplies li div:nth-child(3) .btn {
    height: fit-content;
    margin: 5 auto;
    padding: 5px 0;
}

.npage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nreply_line .npage * {
    text-align: center;
}

.nreply_line .page-btn {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    background-color: #ccc;
    color: black;
    font-weight: bold;
}

.nreply_line .page-btn:hover {
    background-color: yellow;
}

/* Search are css 공지 검색 */
.nsearch_area  {
    display: inline-block;
    margin-bottom: 130px;
}

input#nkeyword, input#akeyword {
    width: 320px;
    height: 41px;
    margin-left: 5px;
    border-radius: 10px;
}

a#nsearch-btn {
    padding-top: 7px;
    padding-left: 15px;
}

/* notice area end 공지페이지 종료 */
/* adminpage area start 관리자페이지 시작 */
#rpwrap {
    max-width: 1000px;
    margin: 0 20px;
    padding: 0;
    position: relative;
}
.rptable > a{
    cursor: pointer;
}
/* Title */
.reporttitle, .notetitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'EBSJSKMedium';
    font-size: 18px;
}
.rplist .row{
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.rptable>.row {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.rptable>.row>*:nth-child(n+2) {
    border: none;
}

.rptable>.row:nth-child(n+2)>* {
    border: none;
}
.rptable>.rptbody>.row:nth-child(2n+1) {
    background-color: #fff;
}

.rptable>.rptbody>.row:hover {
    background-color: #fff;
}

.rptable>.rptbody>.row:last-child {
    border-bottom: 1px solid #ccc;
}

.rptable>.rptbody>.row>div {
    padding: 5px;
}

/* 리스트 배치 */
.rplist.rptable .row div:nth-child(1) {
    width: 8%;
}

.rplist.rptable .row div:nth-child(2) {
    width: 45%;
}

.rplist.rptable .row div:nth-child(3) {
    width: 15%;
}

.rplist.rptable .row div:nth-child(4) {
    width: 22%;
}

.rplist.rptable .row div:nth-child(5) {
    width: 10%;
}


/* adminpage area end 관리자페이지 종료 */
/* note area start 쪽지 시작 */
.notewrap{
    position: relative;
    max-width: 1000px;
}
.notewrap div {
	margin: 0 auto;
    border: 1px solid #000;
}
.notetitle{
    text-align: center;
}
.notelist{   
    vertical-align: middle; 
}
.noterow{
    display: flex;
    vertical-align: middle;
    align-items: center;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.noterow div:nth-child(1){
    width: 40%;
}
.noterow div:nth-child(2){
    width: 20%;
}
.noterow div:nth-child(3){
    width: 30%;
}
.noterow div:nth-child(4){
    width: 10%;
}

.ntcheck {
    text-align: right;
    vertical-align: middle;
}
.ntcheck a{
    position: relative;
    right: 20px;
}
.noteselectbtn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 5px;
}

/* noteget area 모달쪽지보내기 */
.noteget{
    width: 500px;
    height: 400px;
    position: relative;
}
.notegetbtn_area{
    display: inline;
    vertical-align: middle;
}
.notegetrow div:nth-child(1){
    width: 120px;
    padding: 5px;
}
.notegetrow div:nth-child(n+1){
    width: 120px;
    padding: 5px;
}
.notegetrow div:nth-child(2){
    width: 300px;
    padding: 5px;
    text-align: left;
}

.notegetrow input {
    width: 230px !important;
    border: 1px solid #000 !important;
}
.notegetrow textarea {
    width: 340px;
    height: 220px !important;
    border: 1px solid #000;
    resize: none;
}
.sendms{
    width: 100px !important;
    right: 40px;
    position: fixed;
}
.msbtn{
    margin-left: 20px;
}
.noteget{
    margin-top: 20px;
}

/* note are end  쪽지 종료*/


/* festival .css */

.festival_img_area{
    position: relative;
    overflow: hidden;
    margin: 20px auto 0;
    border-radius: 15px;
    width: 700px;
    height: 300px;
    background-color: rgba(146, 180, 236, 0.2); /* 투명도 50% */
}
.festival_img_area img {
    width: 100%;
    height: 280px;
    margin : 10px 0;
    object-fit: contain; /* 비율을 유지하며 요소 내부에 맞게 조정 */
    object-position: center; /* 이미지 중앙 배치 */
}



.button-container{
    display: flex;
    position: relative;
    width: 700px;
    height: 50px;
    border-radius: 45px;
    justify-content: center;
    margin: 30px auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.button-container .slider {
    position: absolute;
    top: 2px;
    left: -30px;
    width: 130px; /* 버튼 너비와 동일하게 설정 */
    height: 90%;
    background-color: #92B4EC;
    border-radius: 45px;
    transition: transform 0.3s ease; /* 슬라이더 이동 애니메이션 */
    z-index: -1; /* 버튼 뒤에 위치하도록 설정 */
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.button-container div {
    margin: auto 80px;
}
.button-container .tab {
    width: 100px; /* 각 버튼 너비 */
    text-align: center;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
    z-index: 1;
}

.button-container .tab.selected {
    color: white; /* 선택된 탭 텍스트 색상 */
}

/* 달력 디자인 */

.react-calendar__tile{
    border-radius: 45px;
}
.react-calendar {
    width: 350px;
    max-width: 100%;
    height: 330px;
    background: white;
    border: 1px solid #a0a096;
    font-family: 'Arial', 'Helvetica', sans-serif;
    line-height: 1.125em;
    margin: 0 auto;
}

.react-calendar__navigation {
    width: inherit;
    height: 3.5rem;
    display: flex;
    text-align: center;
    align-items: center;

}

.react-calendar__navigation__label {
    width: 5.5rem;
    height: 1.375rem;
    font-size: 16px;
    border: none;
    font-weight: 700;
    background-color: #fff;
}

.festival-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.festival-list li {
    width: 21%;
    margin: 15px;
    border: 1px solid black;
    padding :5px;
}

/* festival map */

.festival_map_area {
    position: relative;
    width: 600px;  /* 지도 이미지 크기에 맞게 조정 */
    margin: auto;
}

.festival_map {
    width: 100%;
    height: auto;
}

/* 각 지역의 위치를 조정 */
.festival_select_area .festival_map_detail {
    position: absolute;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    transform: translate(-50%, -50%);  /* 중앙에 위치하도록 */
    font-size: 0.9em;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.area-1 { left: 140px; top: 115px; }     /* 서울특별시 */
.area-1::before {
    top: -55%; left: 195%;
    height: 100px;
    transform: translateX(-100%) rotate(-65deg);
}

.area-2 { left: 130px; top: 175px; }     /* 인천광역시 */
.area-2::before {
    top: 20%; left: 180%;
    height: 80px;
    transform: translateY(-50%) rotate(80deg);
}
.area-3 { left: 120px; top: 320px; }     /* 대전광역시 */
.area-3::before {
    top: -10%; left: 250%;
    height: 150px;
    transform: translateY(-50%) rotate(77deg);
}
.area-4 { right: -10px; top: 315px; }    /* 대구광역시 */
.area-4::before {
    top: 90%; right: 240%;
    height: 140px;
    transform: translateY(-50%) rotate(80deg);
}
.area-5 { left: 100px; top: 430px; }     /* 광주광역시 */
.area-5::before {
    top: 20%; left: 220%;
    height: 120px;
    transform: translateY(-50%) rotate(80deg);
}
.area-6 { right: 20px; top: 420px; }     /* 부산광역시 */
.area-6::before {
    top: 20%; right: 170%;
    height: 70px;
    transform: translateY(-50%) rotate(-80deg);
}
.area-7 { right: 0px; top: 370px; }     /* 울산광역시 */
.area-7::before {
    top: 50%; right: 170%;
    height: 70px;
    transform: translateY(-50%) rotate(90deg);
}
.area-8 { left: 115px; top: 230px; }     /* 세종특별자치시 */
.area-8::before {
    top: 90%; left: 240%;
    height: 140px;
    transform: translateY(-50%) rotate(-80deg);
}
.area-31 { left: 170px; top: 70px; }     /* 경기도 */
.area-31::before {
    top: 110%; left: 162%;
    height: 70px;
    transform: translateY(-50%) rotate(-60deg);
}
.area-32 { right: 60px; top: 100px; }    /* 강원도 */
.area-32::before {
    top: 50%; right: 170%;
    height: 70px;
    transform: translateY(-50%) rotate(90deg);
}
.area-33 { right: 20px; top: 190px; }   /* 충청북도 */
.area-33::before {
    top: 90%; right: 230%;
    height: 130px;
    transform: translateY(-50%) rotate(80deg);
}
.area-34 { left: 140px; top: 275px; }    /* 충청남도 */
.area-34::before {
    top: 40%; left: 170%;
    height: 70px;
    transform: translateY(-50%) rotate(-90deg);
}
.area-35 { right: 30px; top: 260px; }   /* 경상북도 */
.area-35::before {
    top: 60%; right: 150%;
    height: 50px;
    transform: translateY(-50%) rotate(80deg);
}
.area-36 { right: 80px; top: 480px; }   /* 경상남도 */
.area-36::before {
    top: -60%; right: 180%;
    height: 100px;
    transform: translateY(-50%) rotate(-50deg);
}
.area-37 { left: 140px; top: 380px; }    /* 전라북도 */
.area-37::before {
    top: 20%; left: 170%;
    height: 70px;
    transform: translateY(-50%) rotate(80deg);
}
.area-38 { left: 100px; top: 500px; }    /* 전라남도 */
.area-38::before {
    top: -20%; left: 215%;
    height: 120px;
    transform: translateY(-50%) rotate(70deg);
}
.area-39 { left: 330px; top: 580px; }    /* 제주도 */
.area-39::before {
    top: 20%; right: 170%;
    height: 70px;
    transform: translateY(-50%) rotate(-80deg);
}
/* 서울특별시 */
.area-1::after {
    top: 170%; /* 막대기 끝에 점을 위치 */
    left: 290%;
    transform: translateX(-100%);
}

/* 인천광역시 */
.area-2::after {
    top: -15%;
    left: 260%;
    transform: translateX(-50%);
}

/* 대전광역시 */
.area-3::after {
    top: -80%;
    left: 400%;
    transform: translateX(-50%);
}

/* 대구광역시 */
.area-4::after {
    top: 120%;
    right: 370%;
    transform: translateX(-50%);
}

/* 광주광역시 */
.area-5::after {
    top: -27%;
    left: 340%;
    transform: translateX(-50%);
}

/* 부산광역시 */
.area-6::after {
    top: -13%;
    right: 230%;
    transform: translateX(-50%);
}

/* 울산광역시 */
.area-7::after {
    top: 40%;
    right: 230%;
    transform: translateX(-50%);
}

/* 세종특별자치시 */
.area-8::after {
    top: 120%;
    left: 380%;
    transform: translateX(-50%);
}

/* 경기도 */
.area-31::after {
    top: 165%;
    left: 230%;
    transform: translateX(-50%);
}

/* 강원도 */
.area-32::after {
    top: 40%;
    right: 230%;
    transform: translateX(-50%);
}

/* 충청북도 */
.area-33::after {
    top: 117%;
    right: 350%;
    transform: translateX(-50%);
}

/* 충청남도 */
.area-34::after {
    top: 28%;
    left: 248%;
    transform: translateX(-50%);
}

/* 경상북도 */
.area-35::after {
    top: 65%;
    right: 190%;
    transform: translateX(-50%);
}

/* 경상남도 */
.area-36::after {
    top: -190%;
    right: 245%;
    transform: translateX(-50%);
}

/* 전라북도 */
.area-37::after {
    top: -10%;
    left: 240%;
    transform: translateX(-50%);
}

/* 전라남도 */
.area-38::after {
    top: -105%;
    left: 330%;
    transform: translateX(-50%);
}

/* 제주도 */
.area-39::after {
    top: -20%;
    right: 230%;
    transform: translateX(-50%);
}

/* 호버 스타일 */
.festival_map_detail:hover {
    background-color: #92B4EC;
    color: white;
}

/* 선택된 지역 강조 */
.festival_select_area .selected {
    background-color: #92B4EC;
    border-color: #92B4EC;
    color: white;
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.3);
}

/* 라벨과 지도 위치를 연결하는 선 스타일 */
.festival_select_area .festival_map_detail::before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #706f6f;
    /* 선의 각도와 길이를 각 지역에 맞게 조정 */
}
.festival_select_area .festival_map_detail::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #706f6f;
    border-radius: 50%; 
}

/* festival search */
.festival-search-area{
    display: flex;
    float: right;
}

.search-btn{
    border: 3px solid #92B4EC;
    border-radius: 4px;
    font-size: 14px;
    width: 80px;
    padding: 5px;
    text-align: center;
    background-color: #92B4EC;
    color: white;
    cursor: pointer;
}

/* festival detail */
.slick-dots {
    bottom: -30px !important;
}

.detail-img img{
    width: 100%;
    height: 280px;
    margin : 10px 0;
    object-fit: contain; /* 비율을 유지하며 요소 내부에 맞게 조정 */
    object-position: center;
}

.festival-info{
    margin-top: 70px;
}
/* festival .css 종료 */
