/* 공통부분 */
/* 메인폰트 */
@font-face {
    font-family: 'EBSJSKMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSJSKMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 서브포트 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

form {
    user-select: none;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    vertical-align: middle;
}

a {
    text-decoration: none;
    background-color: transparent;
}

img {
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -o-user-drag: none;
    -user-drag: none;
}

.navigate a {
    margin : 20px;
}
/* 달력 디자인 */
.react-calendar__navigation {
    width: inherit;
    height: 3.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    
}

.react-calendar__navigation__label {
    width: 5.5rem;
    height: 1.375rem;
    font-size: 16px;
    border: none;
    font-weight: 700;
    background-color: #fff;
}

.react-calendar__tile--active {
    background: green;
    color: white;
}

.react-calendar__tile--now {
    background: green;
}

/* notice area 공지페이지 시작 */
#nwrap {
    width: 1000px;
    margin: 0 20px;
    padding: 0;
    position: relative;
}

#nwrap .navigate a {
    margin: 20px;
}

.notice-title {
    font-family: 'EBSJSKMedium';
    font-size: 30px;
}

#nwrap>div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    animation: nlistWrap 1.5s 1;
}

@keyframes nlistWrap {
    from {}

    to {
        opacity: 0;
    }
}

/* 헤더 */
#nwrap .nheader_area {
    padding: 10px;
}

/* Title */
#nwrap .ntitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nlist {
    border: 1px solid #000;
    font-family: 'GowunDodum-Regular';
}

#nwrap .pagination {
    width: 840px;
}

.nlist.ntable>.ntbody>.row:nth-child(2n+1) {
    background-color: #fff;
}

.nlist.ntable>.ntbody>.row:hover {
    background-color: #fff;
}

.nlist.ntable>.ntbody>.row:last-child {
    border-bottom: 1px solid #ccc;
}

.nlist.ntable>.ntbody>.row>div {
    padding: 5px;
}

/* 리스트 배치 */
.nlist.ntable .row div:nth-child(1) {
    width: 8%;
}

.nlist.ntable .row div:nth-child(2) {
    width: 50%;
}

.nlist.ntable .row div:nth-child(3) {
    width: 15%;
}

.nlist.ntable .row div:nth-child(4) {
    width: 17%;
}

.nlist.ntable .row div:nth-child(5) {
    width: 10%;
}

.nlist.ntable .row no-list div {
    width: 100%;
    padding: 10px !important;
}
#nwrap .cols-1 {
    width: 10%;
}
#nwrap .cols-2 {
    width: 20%;
}
#nwrap .cols-3 {
    width: 30%;
}
#nwrap .cols-4 {
    width: 40%;
}
#nwrap .cols-5 {
    width: 50%;
}
#nwrap .cols-6 {
    width: 60%;
}
#nwrap .cols-7 {
    width: 70%;
}
#nwrap .cols-8 {
    width: 80%;
}
#nwrap .cols-9 {
    width: 90%;
}
#nwrap .cols-10 {
    width: 100%;
}
#nwrap .tar {
    text-align: right !important;
}

#nwrap .tac {
    text-align: center !important;
}

#nwrap .tal {
    text-align: left !important;
}

.w100 {
    width: 100px !important;
}

.w200 {
    width: 200px !important;
}

.w300 {
    width: 300px !important;
}

.w400 {
    width: 400px !important;
}

.w500 {
    width: 500px !important;
}

.w600 {
    width: 600px !important;
}

.w700 {
    width: 700px !important;
}

.w800 {
    width: 800px !important;
}

.w900 {
    width: 900px !important;
}

.w1000 {
    width: 1000px !important;
}

.w100p {
    width: 100% !important;
}

#nwrap .row {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.ntable>.row {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nbtn_table {
    text-align: right;
    vertical-align: middle;
    margin: 10px auto;

}

/* 로딩 텍스트 애니메이션 */
/* 1. 깜빡이는 애니메이션 */
@keyframes nblink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 각 글자에 애니메이션 적용 */
.loading-text span {
    display: inline-block;
    /* 안의 글자 나눠주기 */
    animation: nblink 1.5s infinite, ncolorChange 2s infinite alternate, nscaleText 1.5s infinite alternate;
}

/* 색상 변화 애니메이션 */
@keyframes ncolorChange {
    0% {
        color: #FF5733;
    }

    50% {
        color: #33FF57;
    }

    100% {
        color: #3357FF;
    }
}

/* 텍스트 크기 애니메이션 */
@keyframes nscaleText {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

/* 로딩 공통 스타일 */
.loading-text {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;  /* 텍스트가 줄 바꿈되지 않도록 */
    font-family: Arial, sans-serif;
}

/* 개별 글자에 대해 애니메이션을 적용 */
.loading-text span:nth-child(1) {
    animation: nblink 1.5s infinite, ncolorChange 2s infinite alternate, nscaleText 1.5s infinite alternate;
}

.loading-text span:nth-child(2) {
    animation: nblink 1.5s infinite, ncolorChange 2s infinite alternate, nscaleText 1.5s infinite alternate;
}

.loading-text span:nth-child(3) {
    animation: nblink 1.5s infinite, ncolorChange 2s infinite alternate, nscaleText 1.5s infinite alternate;
}


/* board 공통 */
body.nlist, body.nwrite, body.nget, body.nmodify {
    background-color: #fff;
}
#nwrap > div:nth-child(1){
    position: relative;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    animation: nlistWrap 1.5s 1;
}
@keyframes nlistWrap{
    from{
    }
    to{
        opacity: 0;
    }
}
.nlist .ntable, .nwrite .ntable, .nget .ntable, .nmodify .ntable{
    border:0px;
    width: 1000px;
}

#nwrap a.btn {

    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
} 
/* list css */

.notice-cnt {
    padding: 10px;
}

.nlist.ntable #nreply_cnt {
    font-weight: bold;
    color: red;
}

.nlist.ntable .ntbody .row:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 1px 1px 2px #444;
    transition: transform linear 0.1s;
    cursor: auto;
}

/* HOT , NEW 디자인 */
.ntable.nlist .nhot,
.ntable.nlist .nnew {
    margin-right: 5px;
}

.ntable.nlist .nhot {
    display: inline-block;
    width: fit-content;
    font-weight: bold;
    position: relative;
    animation: nhot 1s infinite alternate;
}

.ntable.nlist .nnew {
    display: inline-block;
    width: fit-content;
    font-weight: bold;
    position: relative;
    animation: nnew 1s infinite alternate;
}

@keyframes nhot {
    from {
        color: yellow;
        transform: scale(1);
    }

    to {
        color: red;
        transform: scale(1.05);
    }
}

@keyframes nnew {
    from {
        color: yellow;
        transform: scale(1);
    }

    to {
        color: orange;
        transform: scale(1.05);
    }
}

/* Pagination 페이지 버튼 디자인 */
#nwrap .pagination {
    margin-top: 20px;
}

#nwrap .pagination tr {
    text-align: center;
    vertical-align: middle;
}

#nwrap .pagination .nowPage {
    margin-right: 5px;
}

#nwrap .pagination a {
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* .pagination a:hover {
    background-color: #ccc;
} */

.nnowPage {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    /* background-color: #fff; */
    color: black;
    font-weight: bold;
}

/* 글쓰기버튼 */
#nwrap a.nwrite {
    padding: 5px;
    width: 80px;
    height: 35px;
    text-align: center;
    border: 1px solid #000;
}


.nthead {
    border: 1px solid #000;
}
/* nwrite, nmodify, nget css */
#noticeForm{ margin-bottom: 20px;}
#noticeForm > .ntable > .row{
    height: 40px;
    line-height: 40px;
}
#noticeForm > .ntable > .row:nth-child(3){
    height: 300px;
}
#noticeForm > .ntable > .row > div:nth-child(1){
    text-align: center;
    vertical-align: middle;
    width: 20%;
}
#noticeForm > .ntable > .row > div:nth-child(2){
    vertical-align: middle;
    width: 80%;
}
#noticeForm > .ntable > .row:nth-child(n+4){
    height: auto;
}
.nwrite input[type="text"],.nwrite textarea,
.nget input[type="text"],.nget textarea,
.nmodify input[type="text"],.nmodify textarea{
    width: 100%;
    border: none;
    padding: 5px;
    outline: none;
}
.nwrite textarea, .nget textarea, .nmodify textarea{
    resize: none;
    height: 290px;
}
.nget textarea{
    height: auto;
}
.nwrite form [class*=cont] .btn, .nmodify form [class*=cont] .btn{
    width: fit-content;
    height: fit-content;
    margin: 3px 0px;
    width: 100px;
}
#nwrap .thumbnail_area{
    text-align: center;
    width: 100%;
    min-height: 10px;
}
/* 게시판 썸네일애니메이션 thumbnail animation*/
#nwrap img.nthumbnail{
    width: 200px;
    transition: all 0.1s linear;
}
#nwrap img.nthumbnail:hover{
    transform: scale(0.2);
    box-shadow: 1px 1px 4px #ccc;
}
.nwrite .nbtn_area, .nmodify .nbtn_area{
    justify-content: flex-end;
}

#nwrap [class*='cont']{
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    height: fit-content;
}
#nwrap [class*='cont'] div:nth-child(1){
    padding: 10px;
    height: 100%;
}
#nwap [class*='cont'] div:nth-child(2){
    height: auto;
    vertical-align: middle;
    justify-content: space-evenly;
}

/* get css */
#nwrap .download {
    display: none;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    padding: 2px 10px;
    box-shadow: 0px 0px 2px #000;
    transition: all ease 0.2s;
    line-height: 1.4;
}
#nwrap .download:hover{
    transform: scale(0.2);
}
.nget .nbtn_area{
    justify-content: flex-end;
}
.nget .nbtn_area td:nth-child(2){
    padding: 5px;
    outline: none;
    width: 500px;
}
/* noticecontents css */
.nget #noticecontents{
    width: 700px;
    height: 290px;
    vertical-align: top;
}
/* 댓글 reply css */
.nreply_line{
    width: 1000px;
    margin-top: 20px;
    border-top: 1px solid grey;
}
.nreply_line > .nregist{
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 90px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 880px;
}
.nreply_line > .nreplyForm > div{
    text-align: center;
    vertical-align: middle;
    color: #ccc;
    height: 150px;
}
.nreply_line > .nreplyForm > div:nth-child(1){
    width: 20%;
}
.nreply_line > .nreplyForm > div:nth-child(2){
    width: 65%;
}
.nreply_line > .nreplyForm > div:nth-child(3){
    width: 15%;
}
.nreply_line > .nreplyForm > div > input[type=text]{
    display: inline-block;
    width: 120px;
    height: 40px;
    /* border: 2px solid #000; */
    border-radius: 5px;
    text-align: center;
}
.nreply_line textarea {
    width: 600px;
    height: 80px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 17px;
    color: #333;
}
.nreplyForm > div > .btn{
    height: fit-content;
    padding: 8px;
}
.nreplyForm > div > .nfinish {
    margin-top: 50px;
    margin-bottom: 20px;
    vertical-align: middle;
}
.nreplies {
    border-top: 1px solid gray;
    padding: 0;
    padding-top: 30px;
    margin-top: 20px;
}
.nreplies li.no-reply{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.nreplies li {
    width: 1000px;
}
.nreplies li div:nth-child(1) {
    width: 75%;
}
.nreplies li div:nth-child(2) {
    width: 10%;
}
.nreplies li div:nth-child(3) {
    width: 15%;
}
.nreplies li div:nth-child(1) [class*='userid'] {
    width: 20%;
    text-align: center;
    border-right: 1px solid #ccc;
}
.nreplies li div:nth-child(1) [class*='reply'] {
    width: 80%;
    padding-left: 10px;
}
.nreplies li div:nth-child(2), .nreplies li div:nth-child(3) {
    text-align: center;
}
.nreplies li div:nth-child(2) {
    font-size: 14px;
    color: #ccc;
}
.nreplies li div:nth-child(3) .btn{
    height: fit-content;
    margin: 5 auto;
    padding: 5px 0;
}
.npage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nreply_line .npage * {
    text-align: center;
    margin: 0 auto;
}
.nreply_line .page-btn {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    background-color: #ccc;
    color: black;
    font-weight: bold;
}
.nreply_line .page-btn:hover {
    background-color: yellow;
}

/* notice area end 공지페이지 종료 */
