@font-face {
    font-family: 'EBSJSKMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSJSKMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 서브포트 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100000;
    background-color: white;
    top: 0;
}

/* 헤더 */

.header_area {
    padding: 10px 5px;
}

.navigate {
    display: flex;
    justify-content: space-evenly;
}

.navigate .logo a {
    font-family: 'EBSJSKMedium';
    font-weight: bold;
    font-size: 24px;
}

.navigate a {
    font-family: 'GowunDodum-Regular';
    margin: 20px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

/* 로그인 페이지 */
.login_wrap+header {
    display: none;
}

.login_wrap {
    width: 100%;
    user-select: none;
}

.login_wrap .main {
    max-width: 1000px;
    margin: 55px auto;
    padding: 50px;
}

.login_wrap .main .logo p {
    font-family: 'EBSJSKMedium';
    cursor: pointer;
    text-align: center;
    font-size: 55px;
    width: 250px;
    margin: 0 auto;
}

.login_wrap .main .flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.login_wrap .main .flex .img img {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.login_wrap .main .flex .login_area {
    min-width: 400px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
}

.login_area .text {
    cursor: pointer;
}

.login_area .sns_login img {
    width: 75px;
    height: 75px;
    cursor: pointer;
    margin: 0 20px;
}

/* Join page */
.joinpage {
    width: 99%;
    background: no-repeat url(../images/회원가입바탕.png);
    background-size: cover;
    height: 99%;
    position: absolute;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.joinpage .wrap .logo p {
    font-family: 'EBSJSKMedium';
    cursor: pointer;
    text-align: center;
    font-size: 55px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 10px;
}


.joinpage .wrap form {
    width: 610px;
    position: relative;
}

.joinpage .wrap form input {
    width: 600px;
    height: 50px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    margin: 5px;
}

.joinpage .wrap form #username,
.joinpage .wrap form #useremail {
    width: 400px;
    display: inline-block;
}

.joinpage .wrap form .infoSelect {
    width: 200px;
    display: inline-block;
    text-align: center;
}

.joinpage .wrap form .infoSelect div {
    display: inline-block;
    width: 80px;
    background-color: #fff;
    border-radius: 15px;
}

.joinpage .wrap form .infoSelect div input {
    display: none;
}

.joinpage .wrap form .infoSelect div label {
    display: inline-block;
    width: 80px;
    border-radius: 15px;
}

.infoSelect div input[type="radio"]:checked+label {
    background-color: lightblue;
}

.joinpage .wrap form .radioBox {
    display: inline-block;
    margin: 5px 0px 5px 5px;
    width: 400px;
}

.joinpage .wrap form .flexBox {
    display: flex;
}

.joinpage .wrap form .flexBox .radio_item {
    width: 200px;
}

.joinpage .wrap form .flexBox .radio_item input {
    display: none;
}

.joinpage .wrap form .flexBox .radio_item label {
    display: inline-block;
    width: 200px;
    background-color: #fff;
    height: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

.flexBox .radio_item input[type="radio"]:checked+label {
    background-color: lightblue;
}

#id_result,
#pw_result {
    background-color: #fff;
}

#id_result {
    position: absolute;
    right: -360px;
    top: 0;
    width: 350px;
    text-align: center;
}

#pw_result {
    position: absolute;
    right: -360px;
    top: 80px;
    width: 350px;
    text-align: center;
}

.codeGet,
.codeCheck {
    display: inline-block;
    width: 300px;
    margin: 5px 0;
}

.codeGet {
    margin-left: 5px;
}

.joinpage .wrap .joinBtn {
    position: absolute;
    right: 0;
    margin: 5px;
    background-color: #ccc;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    padding: 0;
}

.joinpage label,
.joinpage input[type="button"] {
    cursor: pointer;
}



/* joinpage end */

/* login modal */
.login_wrap .main .findId,
.login_wrap .main .findPw {
    width: 400px;
    height: 300px;
    padding: 25px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.login_wrap .main .findId #result1,
.login_wrap .main .findPw #result2 {
    margin-top: 30px;
    display: none;
}

/* modal end */

.login_btn {
    width: 150px;
}

/* myPage */
.mypage {
    width: 1000px;
    margin: 0 auto;
}

.mypage * {
    user-select: none;
}

.mypage .profile,
.mypage .bookmark,
.mypage .community {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #ccc;
    border-radius: 30px;
    padding: 25px;
    position: relative;
}

.mypage .profile {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.mypage .profile .info_area {
    display: flex;
    background-color: #fff;
    border-radius: 30px;
    padding: 40px 20px;
}

.mypage .profile .info_area .img,
.mypage .profile .info_area .info {
    height: 125px;
}

.mypage .profile .info_area .img {
    margin-right: 24px;
}

.mypage .profile .info_area img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.mypage .profile .info_area .info {
    width: 400px;
}

.mypage .profile .info_area .info div {
    margin-bottom: 13px;
}

.mypage .profile .btn_area {
    background-color: #fff;
    border-radius: 30px;
    width: 125px;
    text-align: center;
}

.mypage .profile .btn_area p:hover {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}


#closeCommunity,
#closeBookmark {
    display: none;
}

/* 모달 개인정보 변경 */
#userModify, #pwModify{
    width: 300px;
    padding-bottom: 15px;
}
.modifyForm{
    padding: 0px 50px 15px 50px;
}
.pwBox{
    padding: 0 50px 15px 50px;
}
.modifyForm input,
.pwBox input {
    width: 190px;
    height: 30px;
    text-align: center;
    margin: 1px;
}

/* 모달 프로필 변경 */
#profileModify{
    padding-bottom: 20px;
}
#profileModify .img img {
    width: 300px;
    height: 300px;
    padding: 0 25px 15px 25px;
}
/* 모달 정보공개 변경 */
#infoModify{
    padding-bottom: 15px;
}
#infoModify table{
    width: 400px;
}
#infoModify table thead tr th,
#infoModify table tbody tr td{
    font-size: 20px;
    width: 150px;
}
#infoModify table tbody tr td input{
    width: 30px;
    height: 30px;
    margin: 0;
}

/* 모달 회원탈퇴 */
#userDelete{
    width: 250px;
    height: 200px;
    padding: 15px;
}
#userDelete div{
    padding-bottom: 15px;
}

/* 후기 및 즐겨찾기 */
.mypage .community p,
.mypage .bookmark p {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0 15px 0;
}

.mypage .community #openCommunity,
.mypage .community #closeCommunity,
.mypage .bookmark #openBookmark,
.mypage .bookmark #closeBookmark {
    right: 25px;
    top: 26px;
    position: absolute;
}

.mypage .community .list,
.mypage .bookmark .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 30px;
    padding: 20px 0;
}

.mypage .community .list .board,
.mypage .bookmark .list .board {
    width: 220px;
    height: 220px;
    margin: 0px 15px;
}

.mypage .community .list .board:nth-child(n+4),
.mypage .bookmark .list .board:nth-child(n+4) {
    width: 220px;
    height: 220px;
    margin: 25px 15px 0;
}

.mypage .community .list .board img,
.mypage .bookmark .list .board img {
    width: 220px;
    height: 180px;
}

.mypage .community .list .board span,
.mypage .bookmark .list .board span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.mypage .community .list .board span:hover,
.mypage .bookmark .list .board span:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    background-color: #f0f0f0;
    cursor: pointer;
}

.mypage .community .list .board:hover,
.mypage .bookmark .list .board:hover {
    cursor: pointer;
}

.mypage .community .pagination span{
    font-size: 20px;
    margin: 0 10px;
    background-color: white;
    width: 24px;
    height: 28px;
    text-align: center;
    border-radius: 10px;
}
.mypage .community .pagination .active{
    background-color: lightblue;
}



/* 보드 쪽지 및 회원 정보 팝업 / 모달 */
.boardget_wrap .popup, 
#board_wrap .popup {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.boardget_wrap .popup a,
#board_wrap .popup a{
    display: block;
    width: 80px;
    margin: 5px;
    text-align: center;
}

.BoardModal .img img{
    width: 400px;
    height: 400px;
    padding: 25px;
}
.BoardModal .children{
    position: relative;
    width: 450px;
    height: 530px;
}
.BoardModal .id{
    margin: 30px 0 0 0;
    font-size: 22px;
}
.BoardModal .closeBoardModal{
    position: absolute;
    right: 55px;
    top: -10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}