@font-face {
    font-family: 'EBSJSKMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSJSKMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 서브포트 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100000;
    background-color: white;
    top :0;
}
/* 헤더 */

.header_area {
    padding: 10px 5px;
}

.navigate {
    display: flex;
    justify-content: space-evenly;
}

.navigate .logo a {
    font-family: 'EBSJSKMedium';
    font-weight: bold;
    font-size: 24px;
}

.navigate a {
    font-family: 'GowunDodum-Regular';
    margin: 20px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

/* 로그인 페이지 */
.login_wrap+header {
    display: none;
}

.login_wrap {
    width: 100%;
    user-select: none;
}

.login_wrap .main {
    max-width: 1000px;
    margin: 55px auto;
    padding: 50px;
}

.login_wrap .main .logo p {
    font-family: 'EBSJSKMedium';
    cursor: pointer;
    text-align: center;
    font-size: 55px;
    width: 250px;
    margin: 0 auto;
}

.login_wrap .main .flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.login_wrap .main .flex .img img {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.login_wrap .main .flex .login_area {
    min-width: 400px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
}

.login_area .text {
    cursor: pointer;
}

.login_area .sns_login img {
    width: 75px;
    height: 75px;
    cursor: pointer;
    margin: 0 20px;
}

/* Join page */
.joinpage {
    width: 100%;
    background: no-repeat url(../images/회원가입바탕.png);

}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.joinpage .wrap .logo p {
    font-family: 'EBSJSKMedium';
    cursor: pointer;
    text-align: center;
    font-size: 55px;
    width: 250px;
    background-color: #fff;
    border-radius: 15px;
}

.joinpage .wrap form {
    width: 500px;
}

.joinpage .wrap form input {
    width: 500px;
}

.joinpage .wrap form .flexBox {
    display: flex;
    margin-top: 3px;
}

.joinpage .wrap form .flexBox .radio_item {
    width: 250px;
}

.joinpage .wrap form .flexBox .radio_item input {
    display: none;
}

.joinpage .wrap form .flexBox .radio_item label {
    display: inline-block;
    width: 250px;
    background-color: #fff;
}

.flexBox .radio_item input[type="radio"]:checked+label {
    background-color: lightblue;
}

#id_result,
#pw_result {
    background-color: #fff;
}

/* joinpage end */

/* modal */
.login_wrap .main .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 900px;
    position: relative;
    top: 40px;
}

.login_wrap .main .modal-content .mflex{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.login_wrap .main .modal-content .mflex .findId, 
.login_wrap .main .modal-content .mflex .findPw{
    width: 400px;
    height: 600px;
    padding: 25px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.login_wrap .main .modal-content .mflex .findId #result1, 
.login_wrap .main .modal-content .mflex .findPw #result2{
    display: none;
}

.login_wrap .main .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* modal end */

/* 임시 테스트용 */
.login_btn{
    width: 150px;
}

/* myPage */
.mypage{
    width: 1000px;
    margin: 0 auto;
}

.mypage * {
    user-select: none;
}

.mypage .profile, .mypage .bookmark, .mypage .community{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #ccc;
    border-radius: 30px;
    padding: 25px;
    position: relative;
}

.mypage .profile{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.mypage .profile .info_area{
    display: flex;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
}
.mypage .profile .info_area .img,
.mypage .profile .info_area .info{
    height: 125px;
}
.mypage .profile .info_area .img{
    margin-right: 24px;
}
.mypage .profile .info_area img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.mypage .profile .info_area .info{
    width: 400px;
}
.mypage .profile .info_area .info div{
    margin-bottom: 13px;
}

.mypage .profile .btn_area{
    background-color: #fff;
    border-radius: 30px;
    width: 125px;
    text-align: center;
}

/* 모달 프로필 변경 */
#profileModify .img img{
    width: 400px;
    height: 400px;
}

#showClose{
    display: none;
}
/* 후기 */
.mypage .community p{
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0 15px 0;
}
.mypage .community #showOpen,
.mypage .community #showClose {
    right: 25px;
    top: 26px;
    position: absolute;
}
.mypage .community .list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 30px;
    padding: 20px 0;
}
.mypage .community .list .board{
    width: 220px;
    height: 220px;
    margin: 0px 15px;
}
.mypage .community .list .board:nth-child(n+4){
    width: 220px;
    height: 220px;
    margin: 25px 15px 0;
}
.mypage .community .list .board img{
    width: 220px;
    height: 180px;
}
.mypage .community .list .board span{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}
.mypage .community .list .board span:hover{
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    background-color: #f0f0f0;
    cursor: pointer;   
}


